bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.db
*.db-shm
*.db-wal
appsettings.local.json
.DS_Store
Thumbs.db

*.env
.env.*
/*/*.env
**.appsettings.development.json
**.appsettings.local.json
**/**/appsettings.Development.json
